<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kittichot.studentattendance">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".notifications.NotificationIntentService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
        <receiver android:name=".broadcast_receivers.NotificationEventReceiver" />
        <receiver android:name=".broadcast_receivers.NotificationServiceStarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="เมนู"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddSubjectActivity"
            android:label="จัดการรายการวิขา"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QrcodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Insert_Subject"
            android:label="เพิ่มรายการการวิชา"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Term_Manager"
            android:label="จัดการรายการการเทอม"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insert_term"
            android:label="เพิ่มรายการเทอม"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Homework_manament"
            android:label="จัดการรายการการบ้าน"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditSubject"
            android:screenOrientation="portrait" />
        <activity
            android:name=".insert_homework"
            android:label="เพิ่มรายการการบ้าน"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HideSubjectActivity"
            android:label="จัดการรายการวิชาที่ถูกซ่อน"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HideTermActivity"
            android:label="จัดการรายการเทอมที่ถูกซ่อน"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateTermActivity"
            android:label="แก้ไขรายการวิชา"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectedStudents"
            android:label="เลือกรายเทอมและห้องของนักเรียน"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateHomework"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HideHomeworkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectListStudent"
            android:label="@string/title_activity_select_list_student"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlarmSET"
            android:label="จัดการแจ้งเตือน"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowEvent"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".AlertManagement"
            android:label="@string/title_activity_alert_management"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Insert_Alert"
            android:label="เพิ่มบันทึกใหม่"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateAlert"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HideAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectTermToCheckname"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectHomeWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckNameHomeWorkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowCheckname"
            android:screenOrientation="portrait" />
        <activity android:name=".SelectDateToListChecknameActivity"></activity>
    </application>

</manifest>